# Dependencies
node_modules/
client/node_modules/

# Production build
dist/
client/dist/

# SQLite WAL and SHM files
data/*.db-wal
data/*.db-shm

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
